<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">Angular2.0</a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a [routerLink]="['WhatsNew']">Whats New?</a></li>
            <li><a [routerLink]="['HowToInstall']">How To Install</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Quickstart</a></li>
            <li><a [routerLink]="['Examples']">Examples</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>