<div class="container">
    <div class="jumbotron text-center">
        <h1>Angular 2.0</h1>
        <p class="lead">A powerful MVC Javascript framework to create Single Page Applications</p>
        <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">More Examples</a></p>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4>Cross Platform</h4>
            <p>use mobile-first approach to create apps</p>

            <h4>Universal</h4>
            <p>Serve the first view of your application on node.js, .NET, PHP and other servers for near-instant rendering in just HTML and CSS. Also paves the way for sites that optimize for SEO.</p>
        </div>

        <div class="col-lg-6">
            <h4>Template driven</h4>
            <p>Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines giving you all the benefits of hand-written code with the productivity of a framework.</p>

            <h4>Modular approach</h4>
            <p>creates powerful template syntax with components that are loaded on the single page based on the user interaction</p>
        </div>
    </div>

    <hr>


</div>